<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @main_ordering_method.name %>
</p>

<%= link_to 'Edit', edit_main_ordering_method_path(@main_ordering_method) %> |
<%= link_to 'Back', main_ordering_methods_path %>
