<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ordering_method.name %>
</p>

<%= link_to 'Edit', edit_ordering_method_path(@ordering_method) %> |
<%= link_to 'Back', ordering_methods_path %>
