<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @baker_service_type.name %>
</p>

<%= link_to 'Edit', edit_baker_service_type_path(@baker_service_type) %> |
<%= link_to 'Back', baker_service_types_path %>
