<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @raw_food_product_category.name %>
</p>

<%= link_to 'Edit', edit_raw_food_product_category_path(@raw_food_product_category) %> |
<%= link_to 'Back', raw_food_product_categories_path %>
