<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @caterer_type.name %>
</p>

<%= link_to 'Edit', edit_caterer_type_path(@caterer_type) %> |
<%= link_to 'Back', caterer_types_path %>
