<div class="pixfort_normal_1 creative_video_header" id="section_pix_4">
  <div class="has-video creative_header">
    <div class="mask"></div>
    <div class="pix_video_div section_video">
      <video autoplay="" poster="images/video/video_bg.jpg" class="bgvid" loop="" muted="">
        <source src="http://friends.jumaiyah.com/wp-content/uploads/2017/01/230216-COLOR_FULL_CLIPCHAMP_keep_CLIPCHAMP_keep.mp4" type="video/mp4">
        </video>
      </div>
      <div class="section_wrapper clearfix">
        <div class="container">
          <div class="sixteen columns context_style">
            <div class="title_style">The only card a halal foodie needs. <br>Be rewarded for choosing halal!</div>
            <div class="subtitle_style">
              <img src="http://friends.jumaiyah.com/wp-content/uploads/2017/01/card.png"></img><br>
              <span class="creative_h_text">
                <span class="editContent" style=""><span class="pix_text" rel="">With the FRIENDS with halalfoodhunt.com Rewards Card, you will unlock up to 20% discounts off your bill at more than 80 halal places in Singapore. We jio you to exclusive makan sessions too!</span></span>
              </span>
            </div>
            <center>
              <a class="main_button pix_text" href="http://www.friends.halalfoodhunt.com/friends/sign_up">SIGN UP</a>
            </center><br>
          </div>
        </div><!-- container -->
      </div>
    </div>
  </div>
  <div id="hidden_pix_1" class="confirm_page confirm_page_1 pix_builder_bg">
    <div class="pixfort_normal_1">
      <div class="confirm_logo">
        <span class="conf_img">
          <img src="images/video/confirm1.png" alt="">
        </span>
      </div>
      <div class="confirm_header">
        <span class="editContent">
          <span class="pix_text">THANK YOU FOR SUBSCRIPTION</span>
        </span>
      </div>
      <div class="confirm_text">
        <span class="editContent">
          <span class="pix_text">Our service is astonishingly thin and light.</span>
        </span>
      </div>
      <div class="confirm_social">
        <div class="confirm_social_box pix_builder_bg">
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="pixfort" data-count="none">Tweet</a>
          <span class="confirm_gp">
            <span class="g-plusone " data-size="medium" data-annotation="none"></span>
          </span>
          <div class="fb-like" data-href="http://themeforest.net/item/flatpack-landing-pages-pack-with-page-builder/10591107" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section_pointer" pix-name="video"></div>
  <div class="pixfort_agency_14" id="section_agency_2">
    <div class="agency_st pix_builder_bg">
      <div class="container">
        <div class="sixteen columns">
         <div class="top_padding">
          <div class="one-third column alpha">
            <div class="part_st">
              <div class="img_st pix_builder_bg2" style="background-image: none; background-color: rgba(0, 0, 0, 0); box-shadow: none;" src="images/14_agency/icon-1.png"><img src="images/media/check-in-marker.png" alt="" style="width: 75px; height: 75px;"></div>
              <div class="text_agency_style">
                <span class="editContent" style=""><p class="agency_st">126</p></span>
                <span class="editContent" style=""><p class="agency_text">Verified Halal Places in Singapore to enjoy discounts</p></span>
              </div>
            </div>
          </div>
          <div class="one-third column ">
            <div class="part_st">
              <div class="img_st pix_builder_bg2" style="background-image: none; background-color: rgba(0, 0, 0, 0); box-shadow: none; " src="images/uploads/team.png"><img src="images/media/team.png" alt="" style="width: 75px; height: 75px;"></div>
              <div class="text_agency_style">
                <span class="editContent" style=""><p class="agency_st">1347</p></span>
                <span class="editContent" style=""><p class="agency_text">Current FRIENDS with Halalfoodhunt.com Cardholders</p></span>
              </div>
            </div>
          </div>
          <div class="one-third column  omega">
            <div class="part_st">
              <div class="img_st pix_builder_bg2" style="background-image: none; background-color: rgba(0, 0, 0, 0); box-shadow: none; border-color: rgb(231, 60, 37);" src="images/uploads/team.png"><img src="images/media/store.png" alt="" style="border-radius: 0px; border-color: rgb(105, 105, 105); border-style: none; border-width: 1px; width: 75px; height: 75px;"></div>
              <div class="text_agency_style">
                <span class="editContent"><p class="agency_st">3</p></span>
                <span class="editContent" style=""><p class="agency_text">Places to walk-in and get your card</p></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pixfort_hotel_5" id="section_hotel_4_1">
  <div class="Homes pix_builder_bg">
   <div class="container">
    <div class="sixteen columns">
      <span class="pix_text" style="color: rgb(51, 51, 51); font-size: 35px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif; font-weight:600;" rel="">Where to enjoy your card?</span><br><br>
      <span class="editContent" style="font-weight:900; color:#e73c25; font-size:22px;"><p class="agency_text">Enjoy discounts at all these places!</p></span>
      <br>
        <div class="scroller sixteen columns">
						<%= render 'places/friends_place' %>
					</div>
      <center>
        <%= link_to "View More Rewards", rewards_path %>
      </center>
    </div>
  </div>
</div>
</div>
<div class="pixfort_corporate_2" id="section_corporate_4">
  <div class="amazing_style pix_builder_bg" style="background-image: none; background-color: rgb(238, 238, 238); padding-top: 0px; padding-bottom: 60px; box-shadow: none; border-color: rgb(68, 68, 68); background-size: cover; background-attachment: scroll; background-repeat: repeat;" src="images/uploads/store.png">
    <div class="container">
      <div class="sixteen columns">
        <div class="gstyle">
          <div class="t1_style">
            <span class="editContent" style=""><span class="pix_text" style="color: rgb(51, 51, 51); font-size: 35px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Open Sans&quot;, sans-serif;" rel="" src="http://friends.jumaiyah.com/wp-content/uploads/2017/02/iMAc.png">Where to get your cards?</span></span>
          </div>
          <div class="t2_style">
            <span class="editContent" style="font-weight:900; color:#e73c25; font-size:22px;"><p class="agency_text">1. Online</p></span>
          </div>
        </div>
        <span>
          <img src="http://friends.jumaiyah.com/wp-content/uploads/2017/02/iMAc.png" class="pub_st" alt="" style="border-radius: 0px; border-color: rgb(68, 68, 68); border-style: none; border-width: 1px;">
        </span><br><br>
        <center>
          <a class="main_button pix_text" href="http://www.friends.halalfoodhunt.com/friends/sign_up">SIGN UP</a>
        </center>
      </div>
    </div>
  </div>
</div>
<div class="light_gray_bg normal_padding padding_top_60 pix_builder_bg" id="section_text_2" style="background-image: none; background-color: rgb(255, 255, 255); padding-top: 30px; padding-bottom: 30px; box-shadow: none; border-color: rgb(68, 68, 68); background-size: auto; background-attachment: scroll; background-repeat: repeat;" src="http://friends.jumaiyah.com/wp-content/uploads/2017/02/iMAc.png">
<div class="container center_text">       
  <div class="sixteen columns">
    <span class="editContent" style="font-weight:900; color:#e73c25; font-size:22px;"><p class="agency_text">2. Walk into these places to get your cards</p></span>
  </div>
</div>
</div>
<div class="center_text big_padding pix_builder_bg" id="section_intro_title" style="background-image: none; background-color: rgba(0, 0, 0, 0); padding-top: 0px; padding-bottom: 60px; box-shadow: none; border-color: rgb(68, 68, 68); background-size: auto; background-attachment: scroll; background-repeat: repeat;" src="http://friends.jumaiyah.com/wp-content/uploads/2017/01/JulieBakes_Pink_New-e1463074805327.png">
<div class="container ">       
  <div class="one-third column">
    <div class="simple_team">
      <div class="simple_team_img ">
        <p class="editContent small_text light_gray">Central</p>
        <img src="http://friends.jumaiyah.com/wp-content/uploads/2017/01/images.png" alt="">
      </div>
      <div>
        <h4 class="editContent gray">
          <strong>Kaw Kaw SG By Makan State</strong>
        </h4>
        <p class="editContent small_text light_gray bold_text">
         28 Aliwal St, S(199918)<br>
         Opening hours:<br>
         Monday: CLOSED<br>
         Sunday – Thursday: 12pm to 9.30pm<br>
         Friday: 3pm to 10.30pm<br>
         Saturday: 12pm to 10.30pm
       </p>
       <ul class="bottom-icons">
        <li><a class="pi pixicon-facebook2 light_gray" href="#fakelink"></a></li>
        <li><a class="pi pixicon-twitter2 light_gray" href="#fakelink"></a></li>
        <li><a class="pi pixicon-instagram light_gray" href="#fakelink"></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="one-third column">
  <div class="simple_team">
    <div class="simple_team_img ">
      <p class="editContent small_text light_gray">East</p>
      <img src="http://friends.jumaiyah.com/wp-content/uploads/2017/01/tbob_corner_logo_square-jpg_182102_medium.png" alt="">
    </div>
    <div>
      <h4 class="editContent gray">
        <strong>T Bob’s Corner</strong>
      </h4>
      <p class="editContent small_text light_gray bold_text">
       527 Bedok North St 3<br>
       #01-514, S(460527)<br>
       Opening hours:<br>
       Monday: CLOSED<br>
       Tuesday – Thursday: 12pm to 10pm<br>
       Friday: 3pm – 11pm<br>
       Saturday: 12pm – 11pm<br>
       Sunday: 12pm – 9pm
     </p>
     <ul class="bottom-icons">
      <li><a class="pi pixicon-facebook2 light_gray" href="#fakelink"></a></li>
      <li><a class="pi pixicon-twitter2 light_gray" href="#fakelink"></a></li>
      <li><a class="pi pixicon-instagram light_gray" href="#fakelink"></a></li>
    </ul>
  </div>
</div>
</div>
<div class="one-third column">
  <div class="simple_team">
    <div class="simple_team_img ">
      <p class="editContent small_text light_gray">Central</p>
      <img src="http://friends.jumaiyah.com/wp-content/uploads/2017/01/JulieBakes_Pink_New-e1463074805327.png" alt="">
    </div>
    <div>
      <h4 class="editContent gray">
        <strong>Julie Bakes</strong>
      </h4>
      <p class="editContent small_text light_gray bold_text">
        14 Baghdad Street, 199653<br>
        Opening hours:<br>
        Tuesday - Sunday: 12pm – 9pm<br>
      </p>
      <ul class="bottom-icons">
        <li><a class="pi pixicon-facebook2 light_gray" href="#fakelink"></a></li>
        <li><a class="pi pixicon-twitter2 light_gray" href="#fakelink"></a></li>
        <li><a class="pi pixicon-instagram light_gray" href="#fakelink"></a></li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
<div class="pix_call_1 dark pix_builder_bg" id="section_call_1_dark">
<div class="container ">
  <div class="two-thirds column pix_area1">
    <div class="call_text">
      <h2 class="editContent" style="font-size: 30px;">GET MY FRIENDS CARD AT $18/YEAR</h2>
    </div>
  </div>
  <div class="one-third column pix_area2">
    <a class="main_button pix_text" href="http://www.friends.halalfoodhunt.com/friends/sign_up">SIGN UP</a>
  </div>
</div>
</div>
<div class="light_gray_bg big_padding pix_builder_bg" id="section_testimonials_1">
<div class="container ">
  <div class="one-third column">
    <div class="content_div">
      <blockquote class="embedly-card" data-card-controls="0"><h4><a href="https://www.instagram.com/p/BOTnpYnhVIf/">This friends card by @halalfoodhunt is really reallly useful! With many merchants listed, you can enjoy discounts from 10% and above off your bill. I've been using this card for two days in a row at Chulop and Casuarina Curry. You can head over to their IG to check out how to apply the card.</a></h4><p>22 Likes, 4 Comments - N I S A R A H M A D H O (@nisarahmadho) on Instagram: "This friends card by @halalfoodhunt is really reallly useful! With many merchants listed, you can..."</p></blockquote>
      <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    </div>
  </div>
  <div class="one-third column">
    <div class="content_div">
      <blockquote class="embedly-card" data-card-controls="0"><h4><a href="https://www.instagram.com/p/BLyN8mShCPU/">#FRIENDSwithHalalFoodHunt // Bugis is the land of cafes and Muslim whereabouts, so I got myself a card so that I can go to these places more! Places like KawKawSG or Fika or Juliebakes will be the death of me with this card in my possession. 😂 #herestofood #cafehoppingisexpensivebutiloveit #supportlocalsg #supporthalal #halallife #blessed #morecardstofillmywallet #ig_sg #singapore #asia</a></h4><p>16 Likes, 3 Comments - N. Alyssha 'Alleycat' Nasron (@alyyiskiwi) on Instagram: "#FRIENDSwithHalalFoodHunt // Bugis is the land of cafes and Muslim whereabouts, so I got myself a..."</p></blockquote>
      <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    </div>
  </div>
  <div class="one-third column omega">
    <div class="content_div">
      <blockquote class="embedly-card" data-card-controls="0"><h4><a href="https://www.instagram.com/p/BNesfLzh9OS/">Whoop Whoop ☺️ #worthwaiting #friendswithhalalfoodhunt</a></h4><p>33 Likes, 1 Comments - Hanisah Sahari (@haannisss) on Instagram: "Whoop Whoop ☺️ #worthwaiting #friendswithhalalfoodhunt"</p></blockquote>
      <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    </div>
  </div>
</div>
</div>