<div class="container-fluid">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12" style="background-color: #ececec; padding: 30px; text-align: left;"><h3><strong><span style="color: #cc3333;">Privacy Policy</span></strong></h3></div>
</div>
</div>
<div class="container-fluid">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12" style="padding: 0 50px;">
<p><strong><span style="color: #cc3333;">1. Security &amp; Privacy</span></strong><br />We appreciate and respect the importance of web privacy, and are fully committed to protecting the privacy of our site visitors and customers. We take suitable steps to maintain the security of all personal data collected, and to prevent unauthorised access. Unfortunately, given that the transmission of information via the Internet is not completely secure, we cannot guarantee the security of data transmitted to our site - any transmission is at your own risk.</p>
<p><br /><strong><span style="color: #cc3333;">2. Your Consent</span></strong><br />We will not sell your name, address, e-mail address, credit card information or personal information to any third party without your permission.</p>
<p><br /><strong><span style="color: #cc3333;">3. Communication &amp; Marketing<br /></span></strong>If you have made a purchase from our website or subscribed to any of our mailing lists or opted to receive marketing communications from us, you will receive updates on our latest listings, news and special offers via e-mail, post and/or telephone. You may at any time choose to opt-out of receiving such marketing communications from us by notifying us at hello@halalfoodhunt.com or by clicking on the unsubscribe button in our e-mail newsletters.</p>
<p><br /><span style="color: #cc3333;"><strong>4. Third Party Sites<br /></strong></span>Our site may contain links to and from the websites of our partner networks, advertisers and other third parties. If you follow a link to any of these websites, please note that they have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites.</p>
<p><br /><span style="color: #cc3333;"><strong>5. Disclosures of your information<br /></strong></span>We may disclose your personal information to any of our group of companies, or to third parties in the event that:</p>
<ul>
<li>We sell or buy any business or assets; or</li>
<li>We are required to do so by law or to enforce or protect our rights or those of our customers.</li>
</ul>
<p><br /><span style="color: #cc3333;"><strong>6. Checking Your Details<br /></strong></span>If you wish to verify the details you have submitted to us, you may do so by contacting us at hello@halalfoodhunt.com. For security reasons, we will require proof of your identity before we reveal your information, such as details pertaining to the e-mail address and password you submitted upon registration, subscription or account set up.</p>
<p><span style="color: #cc3333;"><strong>7. Contacting Us<br /></strong></span>If you have any questions or feedback about our Privacy Policy, please do not hesitate to contact us at hello@halalfoodhunt.com. We would be pleased to address any of your queries.</p>
</div>
</div>
</div>