<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @homie_service_type.name %>
</p>

<%= link_to 'Edit', edit_homie_service_type_path(@homie_service_type) %> |
<%= link_to 'Back', homie_service_types_path %>
