<div class="pixfort_text_4 dark pix_builder_bg" id="section_footer_3_dark">
  <div class="footer3">
    <div class="container ">
      <div class="five columns alpha pix_text">
        <div class="content_div area_1">
          <img src="images/main/footer-logo-3.png" class="pix_footer_logo" alt="">                
          <p class="small_text editContent">Halalfoodhunt.com | Singapore | Places <br><br>Find the right halal food places for every occasion</p>
          <ul class="bottom-icons">
            <li><a class="pi pixicon-facebook2" href="#fakelink"></a></li>
            <li><a class="pi pixicon-twitter2" href="#fakelink"></a></li>
            <li><a class="pi pixicon-instagram" href="#fakelink"></a></li>
          </ul>
        </div>
      </div>
      <div class="four columns">
        <div class="content_div area_2">
          <span class="pix_text"><span class="editContent footer3_title">Halalfoodhunt.com</span></span>
          <ul class="footer3_menu">
            <li><a href="#" class="pix_text"><span class="editContent">Home</span></a></li>
            <li><%= link_to 'Terms Of Use', terms_of_use_path, :class => "pix-text" %></li>
            <li><a href="http://www.halalfoodhunt.com/privacy-policy/" class="pix_text"><span class="editContent">Privacy Policy </span></a></li>
            <li><a href="http://friends.halalfoodhunt.com/feedback/new" class="pix_text"><span class="editContent">Feedback </span></a></li>
          </ul>
        </div>
      </div>
      <div class="four columns">
        <div class="content_div area_3">
          <span class="pix_text"><span class="editContent footer3_title">Discover</span></span>
          <ul class="footer3_menu">
            <li><%= link_to 'Places', places_path, :class => "pix-text" %></li>
            <li><a href="#" class="pix_text"><span class="editContent">Homies & Pop-ups</span></a></li>
            <li><a href="#" class="pix_text"><span class="editContent">Caterers</span></a></li>
            <li><a href="#" class="pix_text"><span class="editContent">Food Deliveries</span></a></li>
            <li><a href="#" class="pix_text"><span class="editContent">Online Retails</span></a></li>
            <li><a href="#" class="pix_text"><span class="editContent">Suppliers</span></a></li>
            <li><a href="#" class="pix_text"><span class="editContent">Bakes & Confectioners</span></a></li>
            <li><a href="#" class="pix_text"><span class="editContent">Raw Ingredients</span></a></li>
          </ul>
        </div>
      </div>
      <div class="three columns">
        <div class="content_div">
          <span class="pix_text"><span class="editContent footer3_title">For Merchants</span></span>
          <ul class="footer3_menu">
            <li><a href="http://sg.halalfoodhunt.com/pages/getting_listed" class="pix_text"><span class="editContent">Be a Merchant</span></a></li>
            <li><a href="#" class="pix_text"><span class="editContent">Login</span></a></li>
            <li><a href="#" class="pix_text"><span class="editContent">Pricing</span></a></li>
            <li><a href="#" class="pix_text"><span class="editContent">Corporate Services</span></a></li>
            <li><a href="#" class="pix_text"><span class="editContent">Support</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pixfort_footer_1" id="section_footer_1">
  <div class="new_footer_1 pix_footers pix_builder_bg">
    <div class="container ">
      <div class="sixteen columns bg_foot">
        <div class="seven columns alpha desk_left">
          <div class="footer_1_text">
            <span class="editContent">
              <span class="pix_text">All rights reserved © 2017 </span>
              <strong><span class="pix_text">Chooosie Group Pte Ltd</span></strong>
            </span>
          </div>
        </div>
        <div class="nine columns omega desk_right">
          <ul class="bottom-icons">
            <li><a class="pi pixicon-facebook2" href="http://www.facebook.com/halalfoodhunt"></a></li>
            <li><a class="pi pixicon-instagram" href="http://www.instagram.com/halalfoodhunt"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>